<%- include layouts/header.ejs %>

      
        <div class="col-md-6">
                                <div class="panel">
                                    <header class="panel-heading">

                                        <h2 class="panel-title">basic form</h2>
                                    </header>
                                    <div class="panel-body">
                                        <form method="post" action="/customers/edit/<%=data[0].id%>">

                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" value="<%=data[0].name%>" >
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="lastname" value="<%=data[0].lastname%>" placeholder="Lastname" required>
                                            </div>

                                            <div class="form-group">
                                                <textarea name="address" class="form-control" required cols="30" rows="5"><%=data[0].address%></textarea>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="email" value="<%=data[0].email%>" placeholder="Lastname" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="phone" value="<%=data[0].phone%>" placeholder="Lastname" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="password" value="<%=data[0].password%>" placeholder="Lastname" required>
                                            </div>
                                            <div class="form-group clearfix">
                                                
                                                <div class="pull-right">
                                                    <input type="submit" class="btn btn-success rounded" name="submit" value="Save">
                                                     <input type="button" class="btn rounded" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">      
                                                </div>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                            </div>


<%- include layouts/footer.ejs %>
